#services_offered{
	margin-top: 35px;
	color: blue;
}



.jumbotron{
	color: black;
	background-color: gray;
}

.joy{
	color: blue;
	background-color: blanchedalmond;
	font-family: 'Oxygen', sans-serif;
	font-size: 20px;
}


.zero{
	text-decoration: underline;
}





.hell{
	text-align: center;
}

.love{
	text-align: center;
}

.pinky{
	color: red;
}

